<kendo-grid [data]="applications" [pageSize]="pageSize" [skip]="(pageNumber - 1) * pageSize"
    (pageChange)="onPageChange($event)" [loading]="loading" [pageable]="true" [sortable]="true">

    <kendo-grid-column field="id" title="ID" [width]="50"></kendo-grid-column>
    <kendo-grid-column field="title" title="Title" [width]="150"></kendo-grid-column>
    <kendo-grid-column field="description" title="Description" [width]="250">
        <ng-template kendoGridCellTemplate let-dataItem>
            <span [title]="dataItem.description || ''">
                {{ dataItem.description?.length > 20 ? (dataItem.description | slice:0:20) + '...' :
                dataItem.description }}
            </span>
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="isActive" title="Active Status" [width]="120">
        <ng-template kendoGridCellTemplate let-dataItem>
            @if(dataItem.isActive) {
            <span class="badge badge-success">Active</span>
            } @else {
            <span class="badge badge-danger">Inactive</span>
            }
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="createdDate" title="Creation Date" [width]="150">
        <ng-template kendoGridCellTemplate let-dataItem>
            {{ dataItem.createdDate | date:'mediumDate' }}
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column title="Actions" [width]="380">
        <ng-template kendoGridCellTemplate let-dataItem>
            <div class="flex-row gap-sm" style="flex-wrap: nowrap;">
                <button kendoButton class="btn-muted" (click)="viewServices(dataItem)">
                    View Service Items
                </button>
                <button kendoButton class="btn-primary-muted" (click)="openDialog(dataItem)">
                    Edit
                </button>
                <button kendoButton [ngClass]="dataItem.isActive ? 'btn-danger-muted' : 'btn-primary-muted'"
                    (click)="toggleActive(dataItem)">
                    {{ dataItem.isActive ? 'Deactivate' : 'Activate' }}
                </button>
            </div>
        </ng-template>
    </kendo-grid-column>
</kendo-grid>

@if (isDialogOpen) {
<kendo-dialog [title]="dialogMode === 'edit' ? 'Edit Application' : 'Create Application'" (close)="closeDialog()">
    <app-application-dialog [application]="selectedApplication" (save)="saveApplication($event)"
        (cancel)="closeDialog()">
    </app-application-dialog>
</kendo-dialog>
}