<kendo-grid [data]="processDefinitions" [pageSize]="pageSize" [skip]="(pageNumber - 1) * pageSize"
    (pageChange)="onPageChange($event)" [loading]="loading" [pageable]="true" [sortable]="true">

    <kendo-grid-column field="id" title="ID" [width]="50"></kendo-grid-column>
    <kendo-grid-column field="code" title="Token Code" [width]="100"></kendo-grid-column>
    <kendo-grid-column field="name" title="Process Name" [width]="200"></kendo-grid-column>
    <kendo-grid-column field="description" title="Description" [width]="250">
        <ng-template kendoGridCellTemplate let-dataItem>
            <span [title]="dataItem.description || ''">
                {{ dataItem.description?.length > 20 ? (dataItem.description | slice:0:20) + '...' :
                dataItem.description }}
            </span>
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="isActive" title="Active Status" [width]="120">
        <ng-template kendoGridCellTemplate let-dataItem>
            @if(dataItem.isActive) {
            <span class="badge badge-success">Active</span>
            } @else {
            <span class="badge badge-danger">Inactive</span>
            }
        </ng-template>
    </kendo-grid-column>


    <kendo-grid-column title="Actions" [width]="380">
        <ng-template kendoGridCellTemplate let-dataItem>
            <div class="flex-row gap-sm" style="flex-wrap: nowrap;">
                <button kendoButton class="btn-muted" (click)="manageFields(dataItem)">
                    Manage Fields
                </button>
                <button kendoButton class="btn-primary-muted" (click)="openDialog(dataItem)">
                    Edit
                </button>
                <button kendoButton [ngClass]="dataItem.isActive ? 'btn-danger-muted' : 'btn-primary-muted'"
                    (click)="toggleActive(dataItem)">
                    {{ dataItem.isActive ? 'Deactivate' : 'Activate' }}
                </button>
            </div>
        </ng-template>
    </kendo-grid-column>
</kendo-grid>

@if (isDialogOpen) {
<kendo-dialog [title]="dialogMode === 'edit' ? 'Edit Process Types' : 'Create Process Type'" (close)="closeDialog()">
    <app-process-definition-dialog [processDefinition]="selectedDefinition" (save)="saveDefinition($event)"
        (cancel)="closeDialog()">
    </app-process-definition-dialog>
</kendo-dialog>
}