<!-- modules/service-items/service-item-create/service-item-create.component.html -->
<div [style.border]="'1px solid #ddd'" [style.padding.px]="15" [style.margin-bottom.px]="20"
  [style.border-radius.px]="4" [style.background-color]="'#fafafa'">
  <h3>Create New Service Item</h3>

  <div [style.margin-bottom.px]="15">
    <label [style.display]="'block'" [style.margin-bottom.px]="5">Application</label>
    <kendo-dropdownlist [data]="applications" [(ngModel)]="selectedAppId" textField="title" valueField="id"
      [valuePrimitive]="true" placeholder="Select Application">
    </kendo-dropdownlist>
  </div>

  <div [style.margin-bottom.px]="15">
    <label [style.display]="'block'" [style.margin-bottom.px]="5">Process Definition</label>
    <kendo-dropdownlist [data]="processDefinitions" [(ngModel)]="selectedProcDefId" textField="name" valueField="id"
      [valuePrimitive]="true" placeholder="Select Process Definition">
    </kendo-dropdownlist>
  </div>

  @if (selectedAppId && selectedProcDefId) {
  <div>
    <app-service-item-form [processDefinitionId]="selectedProcDefId" mode="create" (onSubmit)="onFormSubmit($event)"
      (onCancel)="onFormCancel()">
    </app-service-item-form>
  </div>
  }
</div>