<div class="bg-light rounded mb-md p-md" style="height: calc(100vh - 150px); overflow-y: auto;">

    <!-- Transparent Sticky Close Icon -->
    <button kendoButton (click)="onFormCancel()" title="Close View" themeColor="base" fillMode="flat"
        style="position: sticky; top: 0px; float: right; z-index: 100; opacity: 0.85; background: rgba(255,255,255,0.7); border-radius: 50%; box-shadow: 0 1px 3px rgba(0,0,0,0.1);">
        <span class="material-icons">close</span>
    </button>

    @if (selectedProcDefId && recordId) {
    <app-service-item-form [processDefinitionId]="selectedProcDefId" [recordId]="recordId" mode="view"
        (onCancel)="onFormCancel()">
    </app-service-item-form>
    }
</div>