@if (!viewEditMode && selectedProcessDefinitionId) {
<div>
  @if (processFields.length > 0) {
  <div>
    <app-filter-panel [processFields]="processFields" (onFilter)="onFilterApply($event)"></app-filter-panel>
  </div>
  }
  <kendo-grid [data]="records" [pageSize]="pageSize" [skip]="(pageNumber - 1) * pageSize"
    (pageChange)="onPageChange($event)" [loading]="loading" [pageable]="true" [sortable]="true">

    <kendo-grid-column field="recordNumber" title="Record Number" [width]="150"></kendo-grid-column>
    <kendo-grid-column field="recordStatus" title="Status" [width]="100"></kendo-grid-column>

    @for (field of displayColumns; track field) {
    <kendo-grid-column [title]="field" [width]="150">
      <ng-template kendoGridCellTemplate let-dataItem>
        {{ dataItem.fieldValues[field] }}
      </ng-template>
    </kendo-grid-column>
    }

    <kendo-grid-column field="createdDate" title="Created Date" [width]="150"></kendo-grid-column>

    <kendo-grid-column title="Actions" [width]="200">
      <ng-template kendoGridCellTemplate let-dataItem>
        <button kendoButton [disabled]="loading" (click)="onView(dataItem.id)" [style.margin-right.px]="5">
          View
        </button>
        <button kendoButton [disabled]="loading" (click)="onEdit(dataItem.id)" [style.margin-right.px]="5">
          Edit
        </button>
        <button kendoButton [disabled]="loading" (click)="onDelete(dataItem.id)">
          Delete
        </button>
      </ng-template>
    </kendo-grid-column>
  </kendo-grid>
</div>
}

@if (viewEditMode && selectedRecordId) {
<div>
  <app-service-item-form [processDefinitionId]="selectedProcessDefinitionId" [recordId]="selectedRecordId"
    [mode]="viewEditMode" (onCancel)="onFormClose()">
  </app-service-item-form>
</div>
}