<form [formGroup]="form" class="k-form k-form-horizontal form-wrapper">
    <div class="k-form-field field-wrapper">
        <label class="k-label label-weight">Application Title <span class="text-red">*</span></label>
        <kendo-textbox formControlName="title" placeholder="Enter concise application title"></kendo-textbox>
        @if (form.get('title')?.invalid && form.get('title')?.touched) {
        <div class="error-text">Title is required (min 3 chars).</div>
        }
    </div>

    <div class="k-form-field field-wrapper">
        <label class="k-label label-weight">Description <span class="text-red">*</span></label>
        <textarea formControlName="description" placeholder="Enter a detailed description..." rows="4"
            class="textarea-border"></textarea>
        @if (form.get('description')?.invalid && form.get('description')?.touched) {
        <div class="error-text">Description is required (min 10 chars).</div>
        }
    </div>
</form>

<div class="action-row">
    <button kendoButton (click)="onCancel()">Cancel</button>
    <button kendoButton themeColor="primary" (click)="onSave()">{{ application ? 'Update' : 'Create' }}</button>
</div>